/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
/*------------------ BASIC-DEFAULTS--------- */

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --off-white: #e2e5ec;
  --black: #3a3a3a;
  --gray: #818181;
  --green: #0e4f77;
  --blue: #a0a73e5;
  --dim-green: #fe6a68;
}

/* ------------APP CONTAINER */
.main {
  margin: 0;
  padding: 0;

  width: 100%;
}

body {
  background: url("https://www.verohive.net/static/media/01.6d5e6c68.jpg");
  /* background-color: #272727; */
  /* background-color: #033a5a; */
  background-size: cover;
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
