.dashboard_navbar {
  width: 100%;
  height: 10vh;
  background-color: #033a5a;
  border: 1px solid #2e2e4c;
  box-shadow: 3px 9px 16px rgba(152, 149, 149, 0.4),
    -3px -3px 10px rgba(255, 255, 255, 0.06),
    inset 14px 14px 26px rgb(0, 0, 0, 0.3),
    inset -3px -3px 15px rgba(206, 196, 196, 0.05);
  font-size: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.logo_secure {
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.dash_encryption {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.4rem;
}

.dash-logo {
  width: 40%;
  height: 100%;
}

.dashboard_room {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}
.dash_meetingroom {
}
.dash_video {
}
.dashboard_network {
  width: 30%;
  height: 100%;
  display: flex;

  align-items: center;
  font-size: 1rem;
}

.dash_meetingroom {
  /* background-color: red; */
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dash_video {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 54%;
  height: 80%;
  /* position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); */
  position: relative;
  left: 40%;
}

#meetingRoomdiv > .videoContainer {
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}

.videoContainer video {
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}

#meetingRoomdiv {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  max-height: 562px;
  /* overflow-y: auto;
  overflow-x: auto; */
  margin-left: -20px;
  width: 450px;
  border-radius: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.MuiPaper-root {
  height: 80%;
  width: 27%;
}
.hostControl_ul {
  background-color: #033a5a !important;
  border: 1px solid #2e2e4c !important;
  box-shadow: 3px 9px 16px rgba(152, 149, 149, 0.4),
    -3px -3px 10px rgba(255, 255, 255, 0.06),
    inset 14px 14px 26px rgb(0, 0, 0, 0.3),
    inset -3px -3px 15px rgba(206, 196, 196, 0.05) !important;
  padding: 2rem 0 2rem 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media only screen and (min-width: 600px) {
  .divforemoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 35%;
    width: 5%;
  }
}
@media only screen and (min-width: 600px) {
  .dashboard_navbar {
    justify-content: space-between;
  }
  .dashboard_network {
    width: 14%;
  }
}
@media only screen and (max-width: 600px) {
  #meetingRoomdiv {
    max-width: 0px;
    width: 0px;
  }
  .MuiPaper-root {
    height: 80%;
    width: 70%;
  }
  .divforemoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 35%;
    width: 15%;
  }
  .dash_encryption {
    display: none;
  }
  .dashboard_room {
    width: 31%;
  }
  .logo_secure {
    width: 14%;
  }
  .logo_secure img {
    width: 124%;
    height: 40%;
  }
  .videoContainer {
    width: 350px;
  }

  .hello_video {
    width: 321px !important;
    max-width: 100vw !important;
    max-height: -1vh !important;
  }
}
